.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* .container.header {
    display: flex;
    align-items: center;
} */

.logo {
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 149px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.header .container {
    display: flex;
    justify-content: space-between;
}


.logo-item {
    color: #2e2f42;
}

.title-sub-nav {
    display: none;
    gap: 40px;
    padding: 0;
}

.title-list-item-first {
    font-weight: 500;
    color: #404bbf;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    max-width: "48";
    position: relative;
    padding-bottom: 24px;
}

.title-list-item {
    font-weight: 500;
    color: #2e2f42;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    position: relative;
}

.title-list-item-first::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.title-list-item:hover {
    color: #404bbf;
}

.title-list-item:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.address-link {
    display: none;

}

.my-mail {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.my-mail:hover {
    color: #404bbf;
}

.my-mail:focus {
    color: #404bbf;
}

.menu-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    align-items: center;
}

.menu-btn-icon {
    display: block;
    stroke: #111;
}

/* menu */
/* .menu-container {
    position: fixed;
    inset: 0;
    background-color: #fff;
    padding: 72px 16px 40px;

}

.menu-btn-icon-close {
    stroke: #111;
}

.menu-container,
.menu-btn-dop {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    border: 1px solid rgba(231, 233, 252, 1);
    min-width: 24px;
    min-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.menu-list {}

.menu-list-item:not(last-child) {
    margin-bottom: 40px;
}

.menu-list-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: rgba(46, 47, 66, 0.4);
}

.menu-list-link .active {
    color: #404bbf;
}

.menu-contacts {
    margin-bottom: 48px;
}

.menu-contacts-item:not(last-child) {
    margin-bottom: 24px;
}

.menu-contacts-link {

    font-family: "Roboto",
        sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #434455;
}

.callus {
    color: #4d5ae5;
}

.menu-social {
    gap: 40px;

} */

.title .container {
    flex-direction: column;
    align-items: center;
    gap: 72px;
}


.title {
    background: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Hero/people-office1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 72px 0;
    margin: 0 auto;
    max-width: 320px;
}

.section-title {
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    display: flex;
    text-align: center;
    color: #fff;
    max-width: 216px;
    margin-bottom: 72px;
}

.link {
    margin-left: auto;
    margin-right: auto;
    font-family: "Roboto", sans-serif;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    padding: 16px 32px;
    cursor: pointer;
    border-radius: 4px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
    background: #404bbf;
}

.link:focus {
    background-color: #404BBF
}


/* sec 2 */

.strategy {
    padding: 96px 0;
}

.title-class {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.box {
    display: none;
}

.first-class {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}


.first-class .strategy-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.strategy-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}


/* sec 3 */

.team {
    background: #f4f4fd;
    padding: 96px 0;
}

.team .container {
    flex-direction: column;
}

.item-team .first-class {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
}

.item-team {
    padding: 32px 0;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
    margin: 0 auto;
}

.team-member {
    max-width: 264px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-item:last-child {
    margin-right: 0;
}


.text-class {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.social {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-item {
    width: 40px;
    height: 40px;
}

.social-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
    fill: #f4f4fd;
}

.team-list a {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}


/* sec 4 */

.class-portfolio {
    padding: 96px 0;
    color: #2e2f42;
}

.class-portfolio .container {
    flex-direction: column;
    align-items: center;
}

.portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 72px;
    text-align: center;
}

.list-team-portfolio {
    display: flex;
    flex-direction: column;
    width: 288px;
    row-gap: 48px;
}

.item-team-list {
    width: 288px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-team-list:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}



.team-app {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.item-team-list:hover .app-design {
    transform: translate(0%);
}

.app {
    position: relative;
    overflow: hidden;
}

.app-design {
    position: absolute;
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
}

.frs-team {
    padding: 32px 0;
    background-color: #fff;
    padding: 32px 16px;
    width: 288px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

.class-portfolio .frs-team {
    background-color: #fff;
    padding: 32px 16px;
    width: 288px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}


/* footer */

.about {
    background-color: #2e2f42;
    color: #f4f4fd;
    padding: 96px 0;
}

.about .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-footer {
    display: block;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
}

.footer-box {
    display: flex;
    gap: 72px;
}

.logo-item-footer {
    color: #f4f4fd;
}

.about-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.social-block {
    flex-direction: column;
}

.social-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    margin-bottom: 16px;
}

.social-footer-item {
    display: flex;
    gap: 16px;
}

.social-item-link-footer {
    width: 40px;
    height: 40px;
}

.social-item-link-footer a {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon a:hover,
.social-icon a:focus {
    background-color: #31d0aa;
}


.social-link-footer:hover,
.social-link-footer:focus {
    background-color: #31d0aa;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.subscribe {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.subscribe-input-back-title {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input-sub-block {
    opacity: 0.3;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 8px 16px;
}

.input-sub-block::placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

.button-sub {
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
}

.button-sub:hover,
.button-sub:focus {
    background-color: #404bbf;
}

.icon-main-footer {
    fill: #fff;
    margin-left: 16px;
}


/* modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* backdrop-filter: blur(5px); */
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
}


/* .modal-overlay.is-open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
} */


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    /* overflow-y: auto; */
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* outline: solid red; */

}

.modal-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-button:hover {
    background-color: #404bbf;
    border: none;
}

.modal-button:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover>.modal-close {
    fill: #fff;
}

.modal-button:focus>.modal-close {
    fill: #fff;
}

.modal-box {
    display: flex;
    flex-direction: column;
}

.modal-title {
    font-family: "Roboto",
        sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    width: 360px;
    margin-bottom: 16px;
}

.form-button {
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    width: 169px;
    height: 56px;
    background-color: #4d5ae5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.modal-contacts {
    max-width: 408px;
}

input {
    font-family: inherit;
}

.modal-file {
    position: relative;
}

.modal-input {
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(46, 47, 66, 0.4);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-file-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus+.modal-file-icon {
    fill: #4D5AE5;
}

.modal-wrapper {
    margin-bottom: 8px;
}

.form-label {
    width: 360px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
}

input,
textarea,
button {
    font-family: inherit;
    line-height: inherit;
}

.comment-input {
    border-radius: 4px;
    width: 100%;
    height: 120px;
    /* min-width: 360px; */
    max-width: 360px;
    max-height: 138px;
    /* padding-bottom: 98px; */
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-input:focus {
    border-color: #4D5AE5;
}

.comment-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

}

.checkbox-user {
    border-radius: 2px;
    width: 16px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(46, 47, 66, 0.4);
}


/* .modal-icon {
    border: 1px solid rgba(46, 47, 66, 0.4);
} */




.checkbox-link {
    line-height: 133%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

/* input[type="checkbox"]:checked+.checkbox-user {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
} */

.checkbox:checked+.checkbox-user-label>.checkbox-user {
    background-color: #404bbf;
    border: transparent;
    fill: var(--icon-color)
}

.checkbox:checked+.checkbox-user-label>.checkbox-user>.modal-icon {
    fill: var(--icon-color)
}

.modal-icon {
    fill: transparent;
}

.checkbox-user {
    fill: transparent;
}

.modal-textarea {
    margin-bottom: 16px;
}

.modal-check {
    margin-bottom: 24px;
}


.checkbox-user-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.contacts-checkbo-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}


/* mobile menu */

.menu-container {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    padding: 72px 16px 40px;
    transform: translateX(100%);
    transition: 300ms ease-in-out;
    transition-property: transform;
}

.menu-container.is-open {
    transform: translateX(0%);
}

.menu-btn-dop {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    background-color: #e7e9fc;
    border-radius: 50%;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 24px;
    height: 24px;
    position: absolute;
    right: 24px;
    top: 24px;

}

.menu-btn-dop:hover,
.menu-btn-dop:focus {
    background-color: #404bbf;
    border: none;
    fill: #fff;
}


.menu-list {
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
}

.menu-list-link-first {
    color: #404bbf;
}


.menu-list-item:not(:last-child) {
    margin-bottom: 40px;
}


.menu-list-item .active {
    color: #404bbf;
}

.menu-list-link {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
}

.menu-contacts {
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;

}

.menu-contacts-item:not(:last-child) {
    margin-bottom: 24px;
}

.menu-contacts-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.menu-contacts-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.menu-contacts-link-m {
    color: #4d5ae5;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.social-footer-item {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-around;
}


.menu-container.is-open {
    visibility: visible;
    opacity: 0;
    pointer-events: auto;
}


@media screen and (min-width: 320px) {
    .container {
        max-width: 320px;
        margin: 0 auto;
        padding: 0 16px;
    }



}